# Data

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

url = 'https://raw.githubusercontent.com/chekirou/International-conflict-prediction/master/data/actual.csv'

In [18]:
df = pd.read_csv(url)

In [19]:
!pwd

/Users/ronan/code/yasmeeenm

In [20]:
csv1 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv1.csv')
csv2 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv2.csv')
csv3 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv3.csv')
csv4 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv4.csv')
csv5 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv5.csv')
csv6 = pd.read_csv('/Users/ronan/code/yasmeeenm/csv6.csv')
# csv_pov = pd.read_csv('poverty_df.csv')

In [21]:
csv1['CountryYear'] = csv1['Country']+csv1['Year'].astype(str)
csv2['CountryYear'] = csv2['Country']+csv2['Year'].astype(str)
csv3['CountryYear'] = csv3['Country']+csv3['Year'].astype(str)
csv4['CountryYear'] = csv4['Country']+csv4['Year'].astype(str)
csv5['CountryYear'] = csv5['Country']+csv5['Year'].astype(str)
csv6['CountryYear'] = csv6['Country']+csv6['Year'].astype(str)

In [22]:
csv_12 = pd.merge(csv1,csv2,on='CountryYear',how='outer')
csv_123 = pd.merge(csv_12,csv3,on='CountryYear',how='outer')
csv_1234 = pd.merge(csv_123,csv4,on='CountryYear',how='outer')
csv_12345 = pd.merge(csv_1234,csv5,on='CountryYear',how='outer')
csv_full = pd.merge(csv_12345,csv6,on='CountryYear',how='outer')

/var/folders/lb/vjfvdqwd219dzcvg4_8crdc40000gn/T/ipykernel_2829/2404285424.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ContinentCode_x', 'Code_x', 'Year_x', 'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  csv_1234 = pd.merge(csv_123,csv4,on='CountryYear',how='outer')
/var/folders/lb/vjfvdqwd219dzcvg4_8crdc40000gn/T/ipykernel_2829/2404285424.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ContinentCode_x', 'Code_x', 'Year_x', 'Country_x'} in the result is deprecated and will raise a MergeError in a future version.
  csv_full = pd.merge(csv_12345,csv6,on='CountryYear',how='outer')

In [43]:
conflicts = pd.read_csv('/Users/ronan/code/yasmeeenm/conflict_data_1970.csv')

In [44]:
def get_year(row):
    
    year_value = row['CountryYear'][-4:]
    
    return int(year_value)

In [45]:
def get_country(row):
    
    country_name = row['CountryYear'][:-4]

    return country_name

In [46]:
csv_full['year_all'] = csv_full.apply(lambda x: get_year(x),axis=1)

In [47]:
csv_full['country_all'] = csv_full.apply(lambda x: get_country(x), axis=1)

In [48]:
csv_full['conflict_id'] =0
conflicts

csv_full[(csv_full['country_all']=='USA') & (csv_full['year_all']>1994)]

,Country_x,Code_x,ContinentCode_x,Year_x,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Cost of living index world average = 100,Food price index world average = 100,Housing and utilities price index world average = 100,Healthcare price index world average = 100,...,Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),year_all,country_all,conflict_id
8438,USA,USA,NaN,1995.0,NaN,757.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995,USA,0
8439,USA,USA,NaN,1996.0,NaN,557.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996,USA,0
8440,USA,USA,NaN,1997.0,NaN,582.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997,USA,0
8441,USA,USA,NaN,1998.0,NaN,266.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998,USA,0
8442,USA,USA,NaN,1999.0,NaN,222.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999,USA,0
8443,USA,USA,NaN,2000.0,NaN,336.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,USA,0
8444,USA,USA,NaN,2001.0,9.56,499.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,USA,0
8445,USA,USA,NaN,2002.0,10.28,511.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,USA,0
8446,USA,USA,NaN,2003.0,11.30,610.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003,USA,0
8447,USA,USA,NaN,2004.0,11.97,578.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,USA,0
8448,USA,USA,NaN,2005.0,12.05,537.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005,USA,0
8449,USA,USA,NaN,2006.0,12.00,646.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,USA,0
8450,USA,USA,NaN,2007.0,11.79,832.0,NaN,NaN,NaN,NaN,...,1.8,5.8,2.8,4.6,3.5,5.5,1.0,2007,USA,0
8451,USA,USA,NaN,2008.0,11.97,967.0,NaN,NaN,NaN,NaN,...,2.3,5.5,3.0,4.2,3.5,4.0,1.0,2008,USA,0
8452,USA,USA,NaN,2009.0,11.78,977.0,NaN,NaN,NaN,NaN,...,2.9,5.3,3.0,4.0,3.1,3.7,1.5,2009,USA,0
8453,USA,USA,NaN,2010.0,12.33,1091.0,NaN,NaN,NaN,NaN,...,4.0,5.4,2.5,3.7,3.1,3.2,1.5,2010,USA,0
8454,USA,USA,NaN,2011.0,12.44,1012.0,NaN,NaN,NaN,NaN,...,3.7,5.4,2.2,3.3,3.4,2.9,1.3,2011,USA,0
8455,USA,USA,NaN,2012.0,12.02,1207.0,NaN,NaN,NaN,NaN,...,3.4,5.1,2.6,3.5,3.3,2.6,1.0,2012,USA,0
8456,USA,USA,NaN,2013.0,11.25,791.0,NaN,NaN,NaN,NaN,...,3.2,4.8,2.3,3.2,3.0,2.3,1.0,2013,USA,0
8457,USA,USA,NaN,2014.0,10.42,590.0,NaN,NaN,NaN,NaN,...,3.1,4.5,2.4,3.5,3.3,2.4,1.3,2014,USA,0
8458,USA,USA,NaN,2015.0,9.89,513.0,NaN,NaN,NaN,NaN,...,2.8,4.8,2.4,3.7,3.0,2.1,1.1,2015,USA,0
8459,USA,USA,NaN,2016.0,9.62,451.0,NaN,NaN,NaN,NaN,...,2.5,4.5,2.1,3.4,3.0,2.1,0.9,2016,USA,0
8460,USA,USA,NaN,2017.0,9.37,516.0,143.34,123.827,170.234,179.52,...,2.4,4.3,1.9,3.2,2.8,2.0,1.2,2017,USA,0
8461,USA,USA,NaN,2018.0,9.36,380.0,NaN,NaN,NaN,NaN,...,2.3,4.0,2.4,3.3,3.3,2.1,1.5,2018,USA,0
8462,USA,USA,NaN,2019.0,9.59,866.0,NaN,NaN,NaN,NaN,...,2.1,3.7,2.6,3.8,3.3,2.4,1.6,2019,USA,0
8463,USA,USA,NaN,2020.0,7.93,687.0,NaN,NaN,NaN,NaN,...,1.8,3.4,2.9,3.9,3.0,2.1,1.3,2020,USA,0
8464,USA,USA,NaN,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1,3.7,3.5,4.4,5.0,2.3,1.0,2021,USA,0
12489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8,3.7,4.5,4.5,5.5,2.5,0.7,2022,USA,0

In [53]:
my_list = []

def get_hist_data(country,year,lookback):
    
    early_year = lookback
    hist_data = csv_full[(csv_full['country_all']==country) & (csv_full['year_all'] <= (year - 1)) & (csv_full['year_all'] > (year -1 - early_year))]
    while hist_data.shape[0] < lookback:
        early_year += 1
        hist_data = csv_full[(csv_full['country_all']==country) & (csv_full['year_all'] <= (year -1)) & (csv_full['year_all'] > (year -1 - early_year))]
    return hist_data

for index, row in conflicts.iterrows():

    my_list.append(get_hist_data(row['Country'],row['Year'],5))


get_hist_data('USA',2010,10)

,Country_x,Code_x,ContinentCode_x,Year_x,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Cost of living index world average = 100,Food price index world average = 100,Housing and utilities price index world average = 100,Healthcare price index world average = 100,...,Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),year_all,country_all,conflict_id
8443,USA,USA,NaN,2000.0,NaN,336.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,USA,0
8444,USA,USA,NaN,2001.0,9.56,499.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,USA,0
8445,USA,USA,NaN,2002.0,10.28,511.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,USA,0
8446,USA,USA,NaN,2003.0,11.30,610.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003,USA,0
8447,USA,USA,NaN,2004.0,11.97,578.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,USA,0
8448,USA,USA,NaN,2005.0,12.05,537.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005,USA,0
8449,USA,USA,NaN,2006.0,12.00,646.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,USA,0
8450,USA,USA,NaN,2007.0,11.79,832.0,NaN,NaN,NaN,NaN,...,1.8,5.8,2.8,4.6,3.5,5.5,1.0,2007,USA,0
8451,USA,USA,NaN,2008.0,11.97,967.0,NaN,NaN,NaN,NaN,...,2.3,5.5,3.0,4.2,3.5,4.0,1.0,2008,USA,0
8452,USA,USA,NaN,2009.0,11.78,977.0,NaN,NaN,NaN,NaN,...,2.9,5.3,3.0,4.0,3.1,3.7,1.5,2009,USA,0

In [54]:
for i in range(len(my_list)):
    my_list[i]['conflict_id'] = i

/var/folders/lb/vjfvdqwd219dzcvg4_8crdc40000gn/T/ipykernel_2829/729059741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_list[i]['conflict_id'] = i

In [55]:
for i in range(len(my_list)):
    if len(my_list[i]) < 5:
        print(i)

In [56]:
final_df = pd.DataFrame(columns=my_list[100].columns)

In [57]:
final_df

Empty DataFrame
Columns: [Country_x, Code_x, ContinentCode_x, Year_x, Military spending percent of total government spending , Arms imports million constant U.S. dollars, Cost of living index world average = 100, Food price index world average = 100, Housing and utilities price index world average  = 100, Healthcare price index world average = 100, Happiness Index 0 (unhappy) - 10 (happy), Human Development Index (0 - 1), CountryYear, Country_y, Code_y, ContinentCode_y, Year_y, Economic growth: the rate of change of real GDP, GDP per capita current U.S. dollars, GDP per capita Purchasing Power Parity, Capital investment as percent of GDP, Inflation: percent change in the Consumer Price Index, Unemployment rate, Youth unemployment ages 15-24, Labor force participation rate, Trade openness: exports plus imports as percent of GDP, Foreign Direct Investment percent of GDP, Trade balance as percent of GDP, External debt percent of Gross National Income, Government spending as percent of GDP, Fiscal balance percent of GDP, Government debt as percent of GDP, Foreign aid and official development assistance received, Country_x, Code_x, ContinentCode_x, Year_x, Rule of law index (-2.5 weak; 2.5 strong), Government effectiveness index (-2.5 weak; 2.5 strong), Control of corruption (-2.5 weak; 2.5 strong), Regulatory quality index (-2.5 weak; 2.5 strong), Voice and accountability index (-2.5 weak; 2.5 strong), Political stability index (-2.5 weak; 2.5 strong), Corruption Perceptions Index 100 = no corruption, Political rights index 7 (weak) - 1 (strong), Civil liberties index 7 (weak) - 1 (strong) , Shadow economy percent of GDP, Internet users percent of population, Mobile network coverage percent of the population, Gasoline prices at the pump in dollars per liter, Diesel prices at the pump in dollars per liter, Income from natural resources percent of GDP, Access to electricity percent of the population, Country_y, Code_y, ContinentCode_y, Year_y, Food production index (2004-2006 = 100), Banking system z-scores, Real interest rate: Bank lending rate minus inflation, Freedom from corruption index (0-100), Labor freedom index (0-100), Economic freedom overall index (0-100), Population size in millions, Rural population percent of total population, Refugee population, Migrant population percent of total population, Population growth percent, Life expectancy in years, Death rate per 1000 people, Suicide mortality rate per 100000 population, Country_x, Code_x, ContinentCode_x, Year_x, Deaths of children under five years of age per 1000 live births, Doctors per 1000 people, Gini income inequality index, Poverty percent of population, Poverty ratio percent living on less than 1.90 USD a day, Poverty ratio percent living on less than 5.50 USD a day, Percent income earned by the top 10 percent of earners, Public spending on education percent of GDP, Literacy rate, Globalization index (0-100), Economic globalization index (0-100), Political globalization index (0-100), Social globalization index (0-100), Number of prisoners per 100000 people, Homicides per 100000 people, Country_y, Code_y, ContinentCode_y, Year_y, People practicing Judaism as percent of the population, Buddhists as percent of the total population, People practicing Hinduism as percent of the population, Shia Muslims as percent of the total population, Sunni Muslims as percent of the total population, Christians as percent of the total population, ...]
Index: []

[0 rows x 117 columns]

In [58]:
for i in range(len(my_list)):
    
    final_df = pd.concat([final_df,my_list[i]])

In [59]:
final_df.shape

(555, 117)

In [60]:
final_df

,Country_x,Code_x,ContinentCode_x,Year_x,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Cost of living index world average = 100,Food price index world average = 100,Housing and utilities price index world average = 100,Healthcare price index world average = 100,...,Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),year_all,country_all,conflict_id
4437,Lebanon,LBN,AS,1971.0,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971,Lebanon,0
4438,Lebanon,LBN,AS,1972.0,NaN,49.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972,Lebanon,0
4439,Lebanon,LBN,AS,1973.0,NaN,41.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1973,Lebanon,0
4440,Lebanon,LBN,AS,1974.0,NaN,28.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,Lebanon,0
9937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970,Lebanon,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4163,Kazakhstan,KAZ,AS,2017.0,3.45,214.0,55.08,70.57,63.413,30.55,...,6.4,4.2,8.3,7.3,4.5,3.0,4.2,2017,Kazakhstan,110
4164,Kazakhstan,KAZ,AS,2018.0,4.65,310.0,NaN,NaN,NaN,NaN,...,5.9,3.9,8.4,7.0,4.2,2.7,3.9,2018,Kazakhstan,110
4165,Kazakhstan,KAZ,AS,2019.0,5.25,312.0,NaN,NaN,NaN,NaN,...,5.6,3.6,8.5,6.7,3.9,2.4,3.6,2019,Kazakhstan,110
4166,Kazakhstan,KAZ,AS,2020.0,4.56,268.0,NaN,NaN,NaN,NaN,...,5.3,3.3,8.5,6.4,3.6,2.3,3.3,2020,Kazakhstan,110
4167,Kazakhstan,KAZ,AS,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5.5,3.2,8.2,6.7,4.1,2.1,3.0,2021,Kazakhstan,110

# Dropping features

In [61]:
final_df.shape

(555, 117)

In [62]:
to_drop  = pd.DataFrame(final_df.isna().sum()/555)
len(to_drop)

117

In [63]:
to_drop_list = to_drop[to_drop[0]>0.7].index.values.tolist()
len(to_drop_list)

25

In [64]:
for i in to_drop_list:
    final_df.drop(columns=i, axis=1, inplace=True)

In [65]:
final_df['CountryYear']

4437       Lebanon1971
4438       Lebanon1972
4439       Lebanon1973
4440       Lebanon1974
9937       Lebanon1970
             ...
4163    Kazakhstan2017
4164    Kazakhstan2018
4165    Kazakhstan2019
4166    Kazakhstan2020
4167    Kazakhstan2021
Name: CountryYear, Length: 555, dtype: object

# Dropping data for the imputer

In [66]:
bin_list = ['Country_x','Code_x','Country_y','Year_x','Year_y','Code_y','ContinentCode_y','ContinentCode_x','Sunni Muslims as percent of the total population','Christians as percent of the total population']

In [67]:
cleaner_df = final_df.drop(columns=bin_list)

In [68]:
cleaner_df['conflict_id']=cleaner_df['conflict_id'].astype(int)

In [69]:
cleaner_df

,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Human Development Index (0 - 1),CountryYear,Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,Unemployment rate,...,Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),year_all,country_all,conflict_id
4437,NaN,7.0,NaN,Lebanon1971,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971,Lebanon,0
4438,NaN,49.0,NaN,Lebanon1972,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972,Lebanon,0
4439,NaN,41.0,NaN,Lebanon1973,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1973,Lebanon,0
4440,NaN,28.0,NaN,Lebanon1974,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,Lebanon,0
9937,NaN,NaN,NaN,Lebanon1970,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970,Lebanon,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4163,3.45,214.0,0.813,Kazakhstan2017,4.1,9247.58,24862.97,26.35,7.4,4.90,...,6.4,4.2,8.3,7.3,4.5,3.0,4.2,2017,Kazakhstan,110
4164,4.65,310.0,0.817,Kazakhstan2018,4.1,9812.63,25544.35,25.26,6.0,4.85,...,5.9,3.9,8.4,7.0,4.2,2.7,3.9,2018,Kazakhstan,110
4165,5.25,312.0,0.817,Kazakhstan2019,4.5,9812.60,26351.80,27.63,5.2,4.80,...,5.6,3.6,8.5,6.7,3.9,2.4,3.6,2019,Kazakhstan,110
4166,4.56,268.0,0.825,Kazakhstan2020,-2.5,9121.64,25361.51,28.52,6.7,4.89,...,5.3,3.3,8.5,6.4,3.6,2.3,3.3,2020,Kazakhstan,110
4167,NaN,NaN,NaN,Kazakhstan2021,4.0,10041.49,26033.24,NaN,NaN,4.90,...,5.5,3.2,8.2,6.7,4.1,2.1,3.0,2021,Kazakhstan,110

# Grouping the data

In [70]:
grouped_df = cleaner_df.groupby(by='conflict_id').mean()

In [71]:
grouped_df.columns

Index(['Military spending percent of total government spending ',
       'Arms imports million constant U.S. dollars',
       'Human Development Index (0 - 1)',
       'Economic growth: the rate of change of real GDP',
       'GDP per capita current U.S. dollars',
       'GDP per capita Purchasing Power Parity',
       'Capital investment as percent of GDP',
       'Inflation: percent change in the Consumer Price Index',
       'Unemployment rate', 'Youth unemployment ages 15-24',
       'Labor force participation rate',
       'Trade openness: exports plus imports as percent of GDP',
       'Foreign Direct Investment percent of GDP',
       'Trade balance as percent of GDP',
       'External debt percent of Gross National Income',
       'Government spending as percent of GDP',
       'Fiscal balance percent of GDP', 'Government debt as percent of GDP',
       'Foreign aid and official development assistance received',
       'Rule of law index (-2.5 weak; 2.5 strong)',
       'Government effectiveness index (-2.5 weak; 2.5 strong)',
       'Control of corruption (-2.5 weak; 2.5 strong)',
       'Regulatory quality index (-2.5 weak; 2.5 strong)',
       'Voice and accountability index (-2.5 weak; 2.5 strong)',
       'Political stability index (-2.5 weak; 2.5 strong)',
       'Corruption Perceptions Index 100 = no corruption',
       'Political rights index 7 (weak) - 1 (strong)',
       'Civil liberties index 7 (weak) - 1 (strong) ',
       'Shadow economy percent of GDP', 'Internet users percent of population',
       'Income from natural resources percent of GDP',
       'Access to electricity percent of the population',
       'Food production index (2004-2006 = 100)', 'Banking system z-scores',
       'Real interest rate: Bank lending rate minus inflation',
       'Freedom from corruption index (0-100)', 'Labor freedom index (0-100)',
       'Economic freedom overall index (0-100)', 'Population size in millions',
       'Rural population percent of total population', 'Refugee population',
       'Population growth percent', 'Life expectancy in years',
       'Death rate per 1000 people',
       'Suicide mortality rate per 100000 population',
       'Deaths of children under five years of age per 1000 live births',
       'Public spending on education percent of GDP',
       'Globalization index (0-100)', 'Economic globalization index (0-100)',
       'Political globalization index (0-100)',
       'Social globalization index (0-100)', 'Homicides per 100000 people',
       'Security threats index 0 (low) - 10 (high)',
       'Factionalized elites index 0 (low) - 10 (high)',
       'Group grievance index 0 (low) - 10 (high)',
       'Economic decline index 0 (low) - 10 (high)',
       'Uneven economic development index 0 (low) - 10 (high)',
       'State legitimacy index 0 (high) - 10 (low)',
       'Human rights and rule of law index 0 (high) - 10 (low)',
       'Demographic pressures 0 (low) - 10 (high)',
       'Refugees and displaced persons index 0 (low) - 10 (high)',
       'External interventions index 0 (low) - 10 (high)'],
      dtype='object')

# Create the control dataset

In [72]:
conflict_years = final_df['CountryYear']

In [73]:
csv4_after_1980 = csv_full[csv_full['year_all'] > 1975]
csv4_after_1980_noconflict = csv4_after_1980[csv4_after_1980.CountryYear.isin(conflict_years)==False]
csv4_after_1980.shape[0] - csv4_after_1980_noconflict.shape[0]

496

In [74]:
def slice_fn(sample):
    year = int(sample[-4:])
    words = [sample[:-4]+str(year-i-1) for i in range(4)]
    words.append(sample)
    return words

In [81]:
from itertools import chain

sample_list = []

control_sample = csv4_after_1980.sample(110)

for index,row in control_sample.iterrows():
    sample_list.append(get_hist_data(row['country_all'],row['year_all'],5))

sample_full = sample_list[0]

for i in range(1,len(sample_list)):
    
    sample_full = pd.concat([sample_full,sample_list[i]])

In [82]:
id_list = list(range(111,221))*5

In [83]:
id_list = sorted(id_list)

In [84]:
sample_full['conflict_id'] = id_list
sample_full

,Country_x,Code_x,ContinentCode_x,Year_x,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Cost of living index world average = 100,Food price index world average = 100,Housing and utilities price index world average = 100,Healthcare price index world average = 100,...,Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),year_all,country_all,conflict_id
720,Belgium,BEL,EU,1991.0,4.06,134.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991,Belgium,111
721,Belgium,BEL,EU,1992.0,3.24,49.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992,Belgium,111
722,Belgium,BEL,EU,1993.0,3.01,77.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993,Belgium,111
723,Belgium,BEL,EU,1994.0,3.03,50.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994,Belgium,111
724,Belgium,BEL,EU,1995.0,2.93,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995,Belgium,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Australia,AUS,OC,2010.0,5.02,1513.0,NaN,NaN,NaN,NaN,...,3.2,4.2,1.5,2.0,3.5,2.5,1.1,2010,Australia,220
400,Australia,AUS,OC,2011.0,4.84,1557.0,NaN,NaN,NaN,NaN,...,2.9,3.9,1.6,1.9,3.3,2.8,1.4,2011,Australia,220
401,Australia,AUS,OC,2012.0,4.57,867.0,NaN,NaN,NaN,NaN,...,2.6,3.6,1.3,2.2,4.4,3.0,1.1,2012,Australia,220
402,Australia,AUS,OC,2013.0,4.49,245.0,NaN,NaN,NaN,NaN,...,2.1,3.3,1.0,2.2,3.3,2.7,1.0,2013,Australia,220
403,Australia,AUS,OC,2014.0,4.81,906.0,NaN,NaN,NaN,NaN,...,2.4,3.0,1.0,2.3,3.4,2.4,1.3,2014,Australia,220

In [85]:
control_groupedby = sample_full.groupby('conflict_id').mean()

In [86]:
columns_to_keep = list(grouped_df.columns)

In [87]:
sample_full_clean = control_groupedby.drop(columns=[col for col in control_groupedby if col not in columns_to_keep])

sample_full_clean.isna().sum()

sample_full_clean

,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Human Development Index (0 - 1),Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,Unemployment rate,Youth unemployment ages 15-24,...,Security threats index 0 (low) - 10 (high),Factionalized elites index 0 (low) - 10 (high),Group grievance index 0 (low) - 10 (high),Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high)
conflict_id,,,,,,,,,,,,,,,,,,,,,
111,3.254,65.400000,0.83380,1.602,23864.120,36630.446000,22.232,2.46,8.152,17.814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,0.000000,0.51200,8.092,973.778,4914.790000,61.184,-1.06,2.236,6.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,-6.370,2019.110,10694.276667,16.430,NaN,25.400,44.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,6.185,339.000000,0.76725,1.184,7219.862,17740.340000,24.952,0.58,0.968,5.000,...,8.48,9.52,7.90,3.42,4.82,7.64,7.96,6.18,5.54,3.20
115,1.222,9.600000,0.89580,-0.290,55143.020,54768.924000,21.734,1.24,10.848,21.068,...,1.22,1.24,1.06,2.80,2.86,1.68,1.44,1.94,1.62,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,5.012,2.000000,0.67800,5.536,3249.922,12315.618000,31.330,1.18,3.778,8.278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,6.676,15.333333,0.45440,4.650,519.620,1072.892000,21.618,1.80,4.464,8.500,...,9.12,9.74,9.84,8.16,8.64,9.38,9.84,9.48,9.82,9.68
218,NaN,NaN,0.69300,1.718,5996.366,12857.246000,NaN,2.24,19.710,33.730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,5.824,533.822,NaN,NaN,7.85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,4.746,1017.600000,0.92820,2.744,62671.654,46126.516000,27.126,2.58,5.450,11.974,...,1.76,1.58,3.68,2.64,3.60,1.28,2.12,3.58,2.68,1.18

In [88]:
# sample_full_clean

# sara_conflict = pd.read_csv('imputed_final_df.csv',index_col=0)
# sara_control = pd.read_csv('imputed_control.csv')


# test_sara_conflict_ali_control = pd.concat([sara_conflict,imputed_control_df])
# test_sara_control_ali_conflict = pd.concat([imputed_conflict_df,sara_control])

# Merging dataset and imputing all

In [89]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(max_iter=10, random_state=0, missing_values=np.nan)
imputer2 = IterativeImputer(max_iter=10, random_state=0, missing_values=np.nan)

grouped_df['target'] = 1
sample_full_clean['target'] = 0

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']


full_dataset = pd.concat([grouped_df,sample_full_clean])

In [90]:
data_numeric = full_dataset.select_dtypes(include=numerics)

imputer.fit(data_numeric)
imputed_final_df = pd.DataFrame(imputer.transform(data_numeric),columns=full_dataset.columns)
imputed_final_df.head()

,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Human Development Index (0 - 1),Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,Unemployment rate,Youth unemployment ages 15-24,...,Factionalized elites index 0 (low) - 10 (high),Group grievance index 0 (low) - 10 (high),Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),target
0,9.854139,31.250000,0.612115,3.387259,5505.073517,11905.679110,22.956968,105.274952,8.427825,15.376031,...,5.887251,6.706792,6.418193,6.772541,6.765381,5.716721,6.532731,4.945377,6.768004,1.0
1,9.897968,70.109425,0.184955,3.075407,5460.896118,11576.515927,12.831662,270.815418,7.399550,13.001662,...,4.862230,6.649727,9.503577,7.643964,6.562034,5.642164,9.681084,5.876792,9.362502,1.0
2,9.862877,1.000000,0.238298,3.017950,5426.898390,11568.224683,13.351322,239.799996,7.489156,13.406582,...,5.049936,6.622368,9.069932,7.550080,6.684796,5.671829,8.965037,5.567982,9.080630,1.0
3,9.989253,49.400000,0.356012,7.000000,147.340000,5380.883199,17.918000,20.280000,7.167367,13.418525,...,8.040177,7.495498,8.497593,8.206888,8.327944,8.101387,9.036893,7.144997,8.500031,1.0
4,10.578182,131.666667,0.141846,3.476258,184.996000,5657.754660,10.382000,242.230596,8.670090,14.181524,...,6.076423,7.234202,10.297558,8.418120,7.759899,6.854692,10.721315,7.402199,10.417264,1.0

In [91]:
data_numeric2 = grouped_df.select_dtypes(include=numerics)

imputed_conflict_df = pd.DataFrame(imputer2.fit_transform(data_numeric2),columns=data_numeric2.columns)
imputed_control_df = pd.DataFrame(imputer2.fit_transform(sample_full_clean),columns=data_numeric2.columns)

In [92]:
# imputed_control_df

In [93]:
separate_impute_full_df = pd.concat([imputed_control_df,imputed_conflict_df])
separate_impute_full_df['target'] = separate_impute_full_df['target'].astype(int)
separate_impute_full_df
imputed_final_df

,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Human Development Index (0 - 1),Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,Unemployment rate,Youth unemployment ages 15-24,...,Factionalized elites index 0 (low) - 10 (high),Group grievance index 0 (low) - 10 (high),Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),target
0,9.854139,31.250000,0.612115,3.387259,5505.073517,11905.679110,22.956968,105.274952,8.427825,15.376031,...,5.887251,6.706792,6.418193,6.772541,6.765381,5.716721,6.532731,4.945377,6.768004,1.0
1,9.897968,70.109425,0.184955,3.075407,5460.896118,11576.515927,12.831662,270.815418,7.399550,13.001662,...,4.862230,6.649727,9.503577,7.643964,6.562034,5.642164,9.681084,5.876792,9.362502,1.0
2,9.862877,1.000000,0.238298,3.017950,5426.898390,11568.224683,13.351322,239.799996,7.489156,13.406582,...,5.049936,6.622368,9.069932,7.550080,6.684796,5.671829,8.965037,5.567982,9.080630,1.0
3,9.989253,49.400000,0.356012,7.000000,147.340000,5380.883199,17.918000,20.280000,7.167367,13.418525,...,8.040177,7.495498,8.497593,8.206888,8.327944,8.101387,9.036893,7.144997,8.500031,1.0
4,10.578182,131.666667,0.141846,3.476258,184.996000,5657.754660,10.382000,242.230596,8.670090,14.181524,...,6.076423,7.234202,10.297558,8.418120,7.759899,6.854692,10.721315,7.402199,10.417264,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,5.012000,2.000000,0.678000,5.536000,3249.922000,12315.618000,31.330000,1.180000,3.778000,8.278000,...,5.428845,6.768732,5.824870,6.746188,6.111923,5.690622,6.951137,4.586633,6.212984,0.0
217,6.676000,15.333333,0.454400,4.650000,519.620000,1072.892000,21.618000,1.800000,4.464000,8.500000,...,9.740000,9.840000,8.160000,8.640000,9.380000,9.840000,9.480000,9.820000,9.680000,0.0
218,9.747124,-27.759823,0.693000,1.718000,5996.366000,12857.246000,26.847231,2.240000,19.710000,33.730000,...,6.189922,6.689436,6.899200,6.844403,6.979500,6.461901,7.188216,6.152627,6.102807,0.0
219,10.568399,250.008651,0.487772,5.824000,533.822000,6392.958504,25.275848,7.850000,7.623717,17.611511,...,7.405796,7.415619,8.630727,7.513265,8.521216,7.613831,7.837144,6.580806,8.780920,0.0
220,4.746000,1017.600000,0.928200,2.744000,62671.654000,46126.516000,27.126000,2.580000,5.450000,11.974000,...,1.580000,3.680000,2.640000,3.600000,1.280000,2.120000,3.580000,2.680000,1.180000,0.0

In [99]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
scaler2 = MinMaxScaler()
separate_scaled = pd.DataFrame(scaler2.fit_transform(separate_impute_full_df), columns=separate_impute_full_df.columns)

X2 = separate_scaled.drop(columns=['target'])
y2 = separate_scaled['target']
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2,test_size = 0.3, random_state=5)

In [101]:
bst2 = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
bst2.fit(X_train2, y_train2)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='', learning_rate=1,
              max_bin=256, max_cat_to_onehot=4, max_delta_step=0, max_depth=2,
              max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=2, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [102]:
preds2 = bst2.predict(X_test2)

accuracy_score(preds2,y_test2)

0.7611940298507462

In [103]:
# print(imputed_final_df.shape)
# imputed_final_df.columns

# Scaler on whole dataset

In [104]:
from sklearn.preprocessing import MinMaxScaler

In [105]:
scaler = MinMaxScaler()
full_dataset_scaled = pd.DataFrame(scaler.fit_transform(imputed_final_df), columns=imputed_final_df.columns)

# LET'S MODEL

In [252]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV


X = full_dataset_scaled.drop(columns=['target'])
y = full_dataset_scaled['target']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, random_state=5)

In [253]:
y_train.value_counts()

0.0    80
1.0    74
Name: target, dtype: int64

In [254]:
bst = XGBClassifier(n_estimators=100,max_depth=100,learning_rate=0.5, objective='binary:logistic')

In [255]:
bst.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.5, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=100, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [256]:
preds = bst.predict(X_test)

accuracy_score(preds,y_test)
bst.predict(X_test)

array([1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0])

In [257]:
import pandas as pd

features = bst.get_booster().feature_names
importances = bst.feature_importances_
feature_importances_df = pd.DataFrame(zip(features, importances), columns=['feature', 'importance']).set_index('feature')
feature_importances_df.sort_values('importance', ascending=False).head(10)

                                                    importance
feature
Rural population percent of total population          0.135445
Population size in millions                           0.093553
Uneven economic development index 0 (low) - 10 ...    0.082463
Control of corruption (-2.5 weak; 2.5 strong)         0.047268
Military spending percent of total government s...    0.043429
Group grievance index 0 (low) - 10 (high)             0.039446
Capital investment as percent of GDP                  0.038023
Social globalization index (0-100)                    0.036050
Security threats index 0 (low) - 10 (high)            0.034962
Shadow economy percent of GDP                         0.034458

In [258]:
def get_imputed_df(country,year,lookback=5):
    df = get_hist_data(country,year,lookback).groupby('country_all',).mean()
    df.drop(columns=[col for col in df if col not in columns_to_keep],inplace=True)
    df['target'] = 0.5
    imputed_df = pd.DataFrame(imputer.transform(df),columns=df.columns)
    imputed_df.drop(columns='target',inplace=True)
    
    
    return imputed_df




def get_prob(country,year,lookback=5):
    
    prob = bst.predict_proba(get_imputed_df(country,year,lookback))[0][1]
    return prob

def prob_series(country,start_year,end_year,lookback=5):
    my_list =[]
    for year in range(start_year,end_year+1):
        my_list.append(get_prob(country,year,lookback))
    return my_list

# NEXT STEPS:
#     - FINE TUNE MODEL PARAMS WITH GRID SEARCH / FEATURE SET TO IMPROVE PERFORMANCE 
#     - DELETE FEATURES SO LESS IMPUTATION/SOME ACTUAL TIME PROGRESS
#     - MORE STREAMLIT/START PUTTING PRESENTATION TOGETHER
#     - TRY GET GRAPH WORKING
    
prob_series('USA',1990,2020)
get_imputed_df('Iran',2019)
prob_series('Norway',1990,2020)

[0.104805864,
 0.08439587,
 0.017319975,
 0.017319975,
 0.01728977,
 0.018895028,
 0.018895028,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.012967225,
 0.015189383,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525,
 0.019228525]

In [287]:
prob_series('Iran', 2018, 2022)

[0.21286426, 0.21286426, 0.31079677, 0.31079677, 0.25804403]

In [265]:
x = csv_full[['Country_x', 'Code_x']].iloc[:,0:4:3]

In [266]:
codes = x['Code_x'].unique()
codes = pd.DataFrame(codes)
codes = codes.drop(labels = (len(codes)-1), axis = 0)
codes

       0
0    AFG
1    ALB
2    DZA
3    AND
4    AGO
..   ...
188  VEN
189  VNM
190  YEM
191  ZMB
192  ZWE

[193 rows x 1 columns]

In [267]:
countries = x['Country_x'].unique()
countries = pd.DataFrame(countries)
countries = countries.drop(labels = (len(countries)-1), axis = 0)
countries

               0
0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
..           ...
188    Venezuela
189      Vietnam
190        Yemen
191       Zambia
192     Zimbabwe

[193 rows x 1 columns]

In [268]:
full_set = pd.concat([countries, codes], axis=1)
full_set.columns = 'Country', 'Code'
full_set

         Country Code
0    Afghanistan  AFG
1        Albania  ALB
2        Algeria  DZA
3        Andorra  AND
4         Angola  AGO
..           ...  ...
188    Venezuela  VEN
189      Vietnam  VNM
190        Yemen  YEM
191       Zambia  ZMB
192     Zimbabwe  ZWE

[193 rows x 2 columns]

In [269]:
countryz = list(csv_full['Country_x'].iloc[:,0].unique())
del countryz[-1]

In [273]:
c = []
p = []
for i in countryz:
    c.append(i)
    x = get_prob(i, 2022)
    p.append(x)
data = pd.DataFrame(p,c)
data

                    0
Afghanistan  0.310797
Albania      0.394810
Algeria      0.258044
Andorra      0.050754
Angola       0.234346
...               ...
Venezuela    0.363981
Vietnam      0.310797
Yemen        0.136701
Zambia       0.266710
Zimbabwe     0.493245

[193 rows x 1 columns]

In [274]:
data = data.reset_index()
data.columns = 'Country', 'Prediction'
data

         Country  Prediction
0    Afghanistan    0.310797
1        Albania    0.394810
2        Algeria    0.258044
3        Andorra    0.050754
4         Angola    0.234346
..           ...         ...
188    Venezuela    0.363981
189      Vietnam    0.310797
190        Yemen    0.136701
191       Zambia    0.266710
192     Zimbabwe    0.493245

[193 rows x 2 columns]

In [283]:
god = data.merge(full_set, how = 'left')
god['Year'] = 2022
god['Year'].iloc[1] = 2012
god

/var/folders/lb/vjfvdqwd219dzcvg4_8crdc40000gn/T/ipykernel_2829/765980352.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Country  Prediction Code  Year
0    Afghanistan    0.310797  AFG  2022
1        Albania    0.394810  ALB  2012
2        Algeria    0.258044  DZA  2022
3        Andorra    0.050754  AND  2022
4         Angola    0.234346  AGO  2022
..           ...         ...  ...   ...
188    Venezuela    0.363981  VEN  2022
189      Vietnam    0.310797  VNM  2022
190        Yemen    0.136701  YEM  2022
191       Zambia    0.266710  ZMB  2022
192     Zimbabwe    0.493245  ZWE  2022

[193 rows x 4 columns]

In [1]:
import plotly.express as px

df = px.data.gapminder().query("year==2007")
fig = px.choropleth(god, locations="Code",
                    color="Prediction", # lifeExp is a column of gapminder
                    hover_name="Country", # column to add to hover information
                    color_continuous_scale=px.colors.sequential.Plasma)
fig.show()

ModuleNotFoundError: No module named 'plotly'

# Downloading the data

In [113]:
full_dataset.to_csv('/Users/ronan/code/yasmeeenm/full_dataset.csv')

In [114]:
imputed_control.to_csv('/Users/ronan/code/yasmeeenm/imputed_control.csv')

NameError: name 'imputed_control' is not defined

In [115]:
imputed_final_df.to_csv('/Users/ronan/code/yasmeeenm/imputed_final_df.csv')